#google_service_account
Say-What-3aa99a7d148a.json

#google_SDK
google-cloud-sdk

#notes
NOTES

#secrets
secrets.js

#node_modules
node_modules

#google-cloud-sdk-159.0.0-darwin-x86_64 (1).tar.gz

google-cloud-sdk-159.0.0-darwin-x86_64 (1).tar.gz
